*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: Arial;
}

:root{
    --first-color:#111;
    --scnd-color:aliceblue;
    --third-color:white;
    --fourth-color:rgba(255, 255, 255, 0.849);
    --fifth-color:#34495E;
    --sixth-color:red;
}

.darkmood{
    --first-color:white;
    --scnd-color:#111;
    --third-color:#111;
    --fourth-color:rgba(255, 255, 255, 0.267);
    --fifth-color:#cbd0d49c;
    --sixth-color:red;
}
/* Nav Start's */
nav{
   background-color: var(--first-color);
    width: 100%;
}

nav ul{
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding: 20px 20px;

}
nav ul li a{
   color: var(--scnd-color);
}

nav .menuBtn{
    font-size: 25px;
   color: var(--third-color);
    left: 0;
    top: 0;
    padding: 10px 10px;
    position: absolute;
    cursor: pointer;
}
nav .searchIcon{
   font-size: 20px;
   color: var(--third-color);
   right: 30%;
   top: 10px;
   padding: 10px 10px; 
   position: absolute;
   cursor: pointer;
}
/* Nav End's */

/* Input Start's */
.searchArea{
    position: absolute;
    width: 200px;
    top: 10px;
    right: 15%;
    padding: 10px 10px;
    display: none;
}
.searchBar input{
    border-radius: 10px;
    height: 22px;
    outline: none;
    padding: 5px 5px;
    background-color: var(--fourth-color);
    font-size: 12px;
    width: 100%;
}
.cancelIcon{
    font-size: 20px;
    color: var(--sixth-color);
    right: 30%;
    top: 10px;
    padding: 10px 10px; 
    position: absolute;
    cursor: pointer;
    display: none;
}
/* Input End's */

/* Menu Start's */
.menu{
    width: 200px;
    height: 400pt;
    background-color:var(--fifth-color);
    transform: scaleX(0);
    transform-origin:left ;
    transition: 0.3s
}

.active{
    transform: scaleX(1);
}

.menu ul li {
    display: inline-block;
    color: var(--scnd-color);
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px 10px 15px 15px;
    cursor: pointer;
}

.menu ul li .lightBtn{
    position: absolute;
    margin-left: 7px;
    position: fixed;
    display: none;
}

/* Menu End's */

